
:root {
    --cp1: #f8b195;
    --cp2: #f67280;
    --cp3: #c06c84;
    --cp4: #6c5b7b;    
    --cp5: #355c7d;
  }

body {
    background-color: var(--cp1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16;
}

header, .contact-container {
    background-color: var(--cp4);
    outline-width: 10px;
    outline-style:inset ;
    outline-color: var(--cp5);
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    height:max-content;
}

nav a {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    background-color: var(--cp2);
    border-radius: 5px;
    outline-width: 5px;
    outline-style: groove;
    outline-color: var(--cp5);
    text-decoration:underline;
    color: black;
    justify-content: space-between;
    align-content: center;

}

.h-container, .about-me-container, .contact-info-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}




.abt, .wrk, .conme, .res {
    font-size: 30px;
}


h1 {
    display: flex;
    border-radius: 10px;
    font-size: 48px;
    background-color: var(--cp2);
    margin-left: 20px;
}

/* normal flex containers for header-footer-and about me section */


.about-me {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-me p {
    display: inline-flex;
}

.work-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


img{
    border: 3px var(--cp2);
    flex: 1 1 0px;
}

.horiseon, .java, .mern, .node, .iot{
    position: relative;
    padding: 1rem;
}


.html-text, .java-text, .mern-text, .node-text, .iot-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--cp2);
    color:black
  }

figure {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../assets/images/banner.jpg);
    background-size: cover;
    background-position: center;
}


footer{
    display: inline-flex
}